.page-register:before {
  background-image: url("../../images/login2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.page-register form {
  width: 340px;
  margin: 22px auto;
}
@media (max-width: 480px) {
  .page-register form {
    width: auto;
  }
}
